@import "navbar.css";

body{
  background-color: rgb(194, 182, 133);;
}

.title{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  width: 8em;
}



#container{
  display: flex;
  max-width: 275px;
  /* width: 90%; */
  /* Center the container in middle on horizontal axis */
  margin: 0 auto;
    /*  margin: 50px auto; */
  /* Add empty space above the container (20% of the view height) */
  margin-top: 10vh;

}

/* .card-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  
} */

.card {
  
  /* Change background color */
  background-color: white;

  /* Add border */
  border: 1px solid #bacdd8;

  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;
}

.card-img{
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}


/* Style div elements that have class equal to tag */
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: hsl(210, 6%, 30%);
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;

  text-align: center;

  margin-top: 16px;
}

/* Style p element */
p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  text-align: center;

}

/* Style button element */
button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;

  margin-top: 8px;
}


.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}