body{
	background-image: url(C:\SSCT_Website-2\Images\Theatre_Background_Image.jpg);
}

header {
display: table;
position: relative;
width: 100%;
height: 100%;
background: url(../img/bg.jpg) no-repeat center center scroll;
background-image: "C:\SSCT_Website\Images\ComedyShow.jpg";
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;}